const Env = use('Env')

module.exports = {
    uri: Env.get('DB_URI', null),
    hosts_replicaset: Env.get('DB_HOSTS_REPLICASET', null),
    host: Env.get('DB_HOST', 'localhost'),
    port: Env.get('DB_PORT', 27017),
    username: Env.get('DB_USER', 'admin'),
    password: Env.get('DB_PASSWORD', ''),
    database: Env.get('DB_DATABASE', 'adonis'),
    options: {
        authSource: Env.get('DB_AUTH_SOURCE', ''),
        replicaSet: Env.get('DB_REPLICA_SET', null),
        readPreference: Env.get('DB_READ_PREF', null),
        maxStalenessSeconds: Env.get('DB_MAX_STALE', null)
    },
};
